<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370553278293-183a3unue9rpgrqlqbme2gqdp14qd57u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370553278293-183a3unue9rpgrqlqbme2gqdp14qd57u</string>
	<key>API_KEY</key>
	<string>AIzaSyD3z9DaRVT2XReFZteIMzgVeT2QenREmT0</string>
	<key>GCM_SENDER_ID</key>
	<string>370553278293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nastia.BookRate</string>
	<key>PROJECT_ID</key>
	<string>bookrate-42285</string>
	<key>STORAGE_BUCKET</key>
	<string>bookrate-42285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370553278293:ios:78d677b808e657ec3e29dc</string>
</dict>
</plist>